.map-frame {
  width: 100%;
  height: 100%;
  overflow: scroll;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-overflow-scrolling: touch;
}

.map-picture {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: -1;
}
