html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 10px "-apple-system", "Lucida Grande", sans-serif;
  line-height: 12px;
  color: #999;
  background-color: #000;
}

code {
  font: 10px "Menlo", monospace;
}

*::selection {
  background-color: #09f;
  color: #fff;
}

*::-moz-selection {
  background-color: #09f;
  color: #fff;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: #ccc;
}

a:hover {
  color: #fff;
}

a:active {
  color: #fff;
}


#map-frame {
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

#map-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: -1;
}

#map-space {
/*  width: dynamic;*/
/*  height: dynamic;*/
  padding-right: 100vw;
  padding-bottom: 100vh;
}


#ui * {
  box-sizing: border-box;
}


#ui-loading-progress-track {
/*  opacity: dynamic;*/
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  transition: opacity 1s 1s;
  pointer-events: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

#ui-loading-progress-bar {
/*  width: dynamic*/
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #09f;
  transition: width 0.2s;
}


#ui-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

#ui-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

#ui-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

#ui-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.ui-window {
  width: 160px;
  height: 256px;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  overflow-y: auto;
  cursor: default;
}

.ui-window.wide {
  width: 320px;
}

#ui-top-left .ui-window {
  border-top: 0;
  border-left: 0;
  float: left;
  left: 0;
}

#ui-top-right .ui-window {
  border-top: 0;
  border-right: 0;
  float: right;
  right: 0;
}

#ui-below-top-left .ui-window {
  border-top: 0;
  border-left: 0;
  float: left;
  left: 0;
}

#ui-below-top-right .ui-window {
  border-top: 0;
  border-right: 0;
  float: right;
  right: 0;
}

#ui-bottom-left .ui-window {
  border-bottom: 0;
  border-left: 0;
  float: left;
  left: 0;
}

#ui-bottom-right .ui-window {
  border-bottom: 0;
  border-right: 0;
  float: right;
  right: 0;
}

.ui-window > * {
  margin: 2px 4px;
}

.ui-window-title {
  margin: 0;
  line-height: 16px;
  padding: 2px 4px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ui-window-subtitle {
  margin: 8px 0 4px 0;
  padding: 4px 4px 0 4px;
  border-top: 1px rgba(255, 255, 255, 0.2) solid;
  font-weight: bold;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ui-window-title + * {
  margin-top: 4px;
}

.ui-window-title + .ui-window-subtitle {
  margin-top: 4px;
  padding-top: 0;
  border-top: 0;
}

.ui-label {
  margin-top: 4px;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.5px;
  color: #666;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ui-buttons {
  margin-top: 4px;
  margin-bottom: 4px;
}

.ui-buttons > * {
  margin-top: 2px;
  margin-right: 4px;
}

.ui-buttons a {
  text-decoration: none;
  line-height: 20px;
  padding: 2px 4px;
  border: 1px #999 solid;
  border-radius: 2px;
  font-weight: bold;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ui-buttons a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #ccc;
  color: #fff;
}

.ui-buttons a:active {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #ccc;
  color: #fff;
}

.ui-buttons a.ui-active {
  background-color: rgba(0, 144, 255, 0.6);
  border-color: #99d6ff;
  color: #ccebff;
}

.ui-buttons a.ui-active:hover {
  background-color: rgba(0, 144, 255, 0.8);
  border-color: #ccebff;
  color: #fff;
}

.ui-buttons a.ui-active:active {
  background-color: #09f;
  border-color: #ccebff;
  color: #fff;
}

.ui-choices {
  margin: 0;
}

.ui-choices a {
  display: block;
  text-decoration: none;
  padding: 2px 4px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ui-choices a:hover {
  background-color: rgba(0, 144, 255, 0.2);
  color: #fff;
}

.ui-choices a:active {
  background-color: #09f;
  color: #fff;
}

.ui-choices a.ui-active {
  background-color: rgba(0, 144, 255, 0.4);
  color: #ccd8e0;
}

.ui-choices a.ui-active:hover {
  background-color: rgba(0, 144, 255, 0.6);
  color: #fff;
}

.ui-choices a.ui-active:active {
  background-color: #09f;
  color: #fff;
}

#ui-highlighted-feature {
  pointer-events: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#ui-highlighted-feature .ui-buttons {
  display: none;
}

#ui-highlighted-feature a {
  text-decoration: none;
  color: #999;
}

.ui-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  border: 1px rgba(255, 255, 255, 0.2) solid;
}
