.time-inspector {
  position: absolute;
  background: #fff;
  opacity: 0.85;
  border: 1px #ccc solid;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}


.time-inspector-column {
  position: absolute;
  cursor: pointer;
  border: 1px #ccc solid;
  border-left-style: dashed;
  border-right-style: dashed;
}

.time-inspector-column:nth-child(3n + 1) {
  border-left: 1px #ccc solid;
}

.time-inspector-column:last-child {
  border-right: 1px #ccc solid;
}

.time-inspector-column.selected {
  border: 1px #f0690f solid;
  z-index: 1;
}


.time-inspector-column-fill {
  position: absolute;
  background: #ccc;
  opacity: 0.3;
  pointer-events: none;
}

.time-inspector-column-fill.selected {
  background: #f0690f;
  z-index: 1;
}


.time-inspector-row {
  position: absolute;
  border-top: 1px #ccc dotted;
  pointer-events: none;
}

.time-inspector-row:nth-child(5n + 1) {
  border-top: 1px #ccc solid;
}

.time-inspector-row.selected {
  border-top: 1px #f0690f dashed;
  z-index: 1;
}


.time-inspector-column-labels {
  position: absolute;
}

.time-inspector-column-label {
  position: absolute;
  color: #999;
  font-size: 7px;
  text-align: center;
  white-space: nowrap;
}

.time-inspector-column-label.selected {
  color: #f0690f;
}


.time-inspector-row-labels {
  position: absolute;
}

.time-inspector-row-label {
  position: absolute;
  color: #999;
  font-size: 7px;
  text-align: right;
  white-space: nowrap;
}

.time-inspector-row-label.selected {
  color: #f0690f;
}
